html {
  box-sizing: border-box;
  font-family: Verdana;
  color: white;
  text-align: center;
  background-color: black;
  font-weight: normal;
}

.title a {
  font-size: 16px;
  color: aquamarine;
}

/* title */
.title h1 {
  font-weight: normal;
  font-size: 50px;

}
/* description */
.description h1 {
  font-weight: 300;
  font-size: 42px;
}

.description  div p {
  font-size: 21px;
  color: gray;
}

.description a {
  font-size: 16px;
  color: aquamarine;
}

footer {
  font-size: 21px;
  color: gray;
  text-align: right;
}
